<div class="[ folder-actions ]">
  <a data-target="create-folder" class="[ btn ][ grey darken-4 ][ waves-effect waves-light ][ modal-trigger ]">
    New Folder<i class="material-icons left">create_new_folder</i>
  </a>
  <a data-target="create-note" class="[ btn ][ grey darken-4 ][ waves-effect waves-light ][ modal-trigger ]">
    New Note<i class="material-icons left">note_add</i>
  </a>
</div>