<div class="[ col s6 m3 ]">
  <%= link_to(folder_path(folder)) do %>
    <div class="[ card ][ grey-text text-darken-4 ]">
      <div class="[ card-content grey lighten-5 ]">
        <%# <i class="[ material-icons ]">folder</i> %>
        <span class="valign-wrapper"><i class="[ material-icons ]">folder</i>&nbsp;<%= folder.name %></span>
      </div>
    </div>
  <% end %>
</div>