<nav class="[ grey darken-4 ]">
  <div class="[ nav-wrapper ][ container ]">
    <div class="[ logo-container ]">
      <a href="/" class="[ brand-logo ][ grey-text text-lighten-4 ]">
        <i class="[ material-icons prefix ]">cloud</i>
        <span class="[ hide-on-small-and-down ]">CloudDrive</span>
      </a>
    </div>
    <ul class="[ right ][ hide-on-small-and-down ]">               
      <li>    
        <div class="[ row ][ center ]">
          <div class="[ col s12 ]">
            <div class="[ input-field ][ grey-text text-lighten-5 ]">
              <i class="[ material-icons prefix ]">search</i>
              <input type="text" placeholder="search folder..." id="autocomplete-input" class="[ autocomplete ][ grey-text text-lighten-5 ]" >
            </div>
          </div>
        </div>          
      </li>                     
    </ul>
  </div>
</nav>