<div class="[ col s4 m3 ][ grey-text text-darken-4 ]">
    <div class="[ card ][ z-depth-0 ]">
      <div class="[ card-content grey lighten-4 ][ center-align ]">
        <i class="[ material-icons ]">note</i> 
        <span class="[ card-title ]"><%= note.name %></span>
      </div>
    </div>
  </div>